<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CoWin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Registration</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
<h1>Wellcom to the cowin page</h1>

</div>
<br>
<form>
  <div class="container">
    <div class="row">
      <div class="col">
      <a routerLink="pin" class="btn btn-primary" (click)="showFindByPinForm()" href="#" role="button">Search by Pin</a>
      <a routerLink="district" class="btn btn-primary" (click)="showFindByDistrictForm()" href="#" role="button">Search by District</a>
    
      </div>
    </div>
  </div>      
</form>

<router-outlet></router-outlet>