<br>
<div class="form-position">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="state">State</label>
            <select (change)="onSelectState($event)"  class="dropdown-primary form-control" name="state" id="state">
              <option value="" selected disabled>Select State</option>
              <option *ngFor="let i of myStateArray" [value]="i.state_id">
                {{i.state_name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="district">District</label>
            <select (change)="onSelectDistrictFindSlot($event)" class="dropdown-primary form-control" id="district" name="district">
              <option value="" selected disabled>Select District</option>
              <option *ngFor="let j of myDistrictsArray" [value]="j.district_id">
                {{j.district_name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="ageGroup">Age Group</label>
            <select (change)="onAgeGroupSelected($event)" class="dropdown-primary form-control" id="ageGroup" name="ageGroup">
              <option value="" selected disabled>Select Age</option>
              <option *ngFor="let j of ageGroup" [value]="j">
                {{j}}
              </option>
            </select>
           
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="vaccine">Vaccine</label>
            <select (change)="onVaccineSelected($event)" class="dropdown-primary form-control" id="vaccine" name="vaccine">
              <option value="" selected disabled>Select Vaccine</option>
              <option *ngFor="let j of vaccine" [value]="j">
                {{j}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Result of Search by District -->
<div *ngIf="showSearchedRecordsByDistrict">
<div class="container">
  <br>
  <div class="ScrollStyle">
    <table class="table table-striped table-hover table-bordered table-style" cellspacing="0">
      <thead class="thead-light">
        <tr>

          <th scope="col">Center Name</th>
          <th scope="col">Address</th>
          <th scope="col">Earliest Date</th>
          <th scope="col">Available Dose</th>
          <th scope="col">Time Slots</th>
          <th scope="col">Age</th>
          <th scope="col">Vaccine</th>
        </tr>
      </thead>
      <tbody>
        <ng-container
        *ngFor="let session of mySessionArray ;"
        >
        <tr *ngIf="(session.vaccine == vaccineType && session.min_age_limit == ageLimit && session.available_capacity>0)">

          <td>{{session.name}}</td>
          <td>{{session.address}} {{session.pincode}}</td>
          <td>{{session.date}}</td>
          <td>{{session.available_capacity}}</td>
          <td>{{session.slots}}</td>
          <td>{{session.min_age_limit}}</td>
          <td >
            <tr>{{session.vaccine}}</tr>
            <tr>Rs. {{session.fee}}</tr>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

  </div>

</div>
</div>

